*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
.idea
/bin/
/build/
/.gradle/
.project
.settings
.classpath
*.iml
*.ipr 
*.iws
